@import '../Utils/variables.scss';


@mixin header_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
& > img {
    width: 3rem;
    margin: 5px 20px;
  }
  &__buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    & > p {
      margin: 0px 20px;
      color: $text-color;
    }
  }
}

.header{
  background-color: $menu-color;
  @include header_style;
}

.header_dark{
  background-color: #363B81;
  & > .nav > .nav__div {
    color: white;
  }
  @include header_style;
}

