@import "../Utils/variables.scss";
@import "../Utils/mixings.scss";
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  &__div {
    @include button;
  }
}
