@import '../Utils/variables.scss';
@import '../Utils/mixings.scss';

@mixin main {
    margin-top: 50px;
    margin-bottom: 15px;
    & > h1 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: Oswald, sans-serif;
        font-size: 50px;
        margin-bottom: 10px;
    }
}
.main{
    @include main;
    background-color: white;
    & > h1 {
        color: red;
    }
}
.main_dark{
    @include main;
    background-color: #5db9ff;
    & > h1 {
        color: white;
    }
}

.card__content{
    font-family: "oswald", sans-serif;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 20px;
}
.card{
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid black;
    transition: 0.5s;
    width: 150px;
    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-bottom: -25px;
        color: white;
        height: 75px;
        font-size: 25px;
        background-color: red;
        border-bottom: 5px solid black;
    }
    &__img{
        filter: drop-shadow(5px 5px 5px #222);
        transform: scale(1.2);
        transition: 0.5s;
        width: 100px;
        height: 100px;
    }
  }
  .card__img:hover{
        transform: scale(1.4);
  }

